
.sidebar{
	
	margin-top: 60px;
	height: 100%;
	overflow-y:auto;
	-webkit-box-shadow: 3px 0px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 0px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 3px 0px 3px -3px rgba(0,0,0,0.75);
	min-width: 200px;
	
}

.sidebar::-webkit-scrollbar { 
    display: none; 
}

.nav{
	z-index: 1;
}

.section{
	
	margin-top: 60px;
	margin-left: 230px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	width: 100%;
}

.sectionContent{
	
	margin-top: 10px;
	margin-left: 230px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	width: 100%;
}



.photoProfile{
	 -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: #3591C6;
     width: 65px;
     height: 65px;
     margin:auto;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);

}

.nameProfile h1{
	font-size: 20px;
}

.itemListProy{
	
	height: 100%;
	cursor: pointer;
	background-color: #F4F9FB;
}

.itemListProy:hover{

	
	background-color: #D6DEE2;
}

.title{

	font-size: 15px;
}

.wrapper{
	position: absolute;
	z-index: -1;
	height: 100%;
	margin-right: 1%;
	min-width: 800px;
	

}

.cardItem{
	transition: color 0.8s linear 0.2s;
}

.cardItem:hover{
	
	color:#F83C3C;
}

.cardImg{
	cursor: pointer;
	
}

.cardImg:hover{

}

a{
	text-decoration: none;
}

.textHeader{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
}

.nameLabel{
	
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}

.ups{
	overflow-y: scroll;
}

.carrousellImg{
	cursor: pointer;
}

.icon{
	width: 12px;
	height: 12px;
}

@media screen and (min-width: 800px){
	.sectionContent, .section{
		margin-left: 230px;
	}
	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 1024px){
	.sectionContent, .section{
		margin-left: 260px;
	}
	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 1280px){
	.sectionContent, .section{
		margin-left: 280px;
	}
	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 1366px){
	.sectionContent, .section{
		margin-left: 300px;
	}

	.wrapper{
		width: 70%;
	}
}
@media screen and (min-width:1440px){
		.sectionContent, .section{
		margin-left: 320px;
	}
	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 1600px){
	.sectionContent, .section{
		margin-left: 350px;
	}
	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 1680px){
	.sectionContent, .section{
		margin-left: 370px;
	}

	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 1790px){
	.sectionContent, .section{
		margin-left: 390px;
	}

	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 1920px){
	.sectionContent, .section{
		margin-left: 420px;
	}

	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 2160px){
	.sectionContent, .section{
		margin-left: 450px;
	}

	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 2210px){
	.sectionContent, .section{
		margin-left: 480px;
	}

	.wrapper{
		width: 70%;
	}
}

@media screen and (min-width: 2350px){
	.sectionContent, .section{
		margin-left: 510px;
	}
	.wrapper{
		width: 70%;
	}
}
@media screen and (min-width: 2560px){
	.sectionContent, .section{
		margin-left: 540px;
	}
	.wrapper{
		width: 70%;
	}
}





